<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8fd9367667.js" crossorigin="anonymous"></script>

    <link href="../styles/main.css" rel="stylesheet">
    <link href="../styles/dashboard.css" rel="stylesheet">
    <title>DASHBOARD</title>
</head>
<body>
    <nav>
        N
    </nav>
    <main>
        <section>
            <div class="card">
                <img src="https://random.imagecdn.app/500/500">
                <p class="flex-column-center-center">CARD 1</p>
            </div>
            <div class="card">
                <img src="https://random.imagecdn.app/500/500">
                <p class="flex-column-center-center">CARD 2</p>
            </div>
            <div class="card">
                <img src="https://random.imagecdn.app/500/500">
                <p class="flex-column-center-center">CARD 3</p>
            </div>
            <div class="card">
                <img src="https://random.imagecdn.app/500/500">
                <p class="flex-column-center-center">CARD 4</p>
            </div>
        </section>
        <aside>
            B
        </aside>
    </main>
</body>
</html>